<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HRDBR53" connectionString="Data Source=192.168.100.11;Initial Catalog=HRSDBR53;Persist Security Info=True;User ID=sa;Password=6937937" providerName="System.Data.SqlClient"/>
    <add name="HAMS" providerName="Access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\30_Code\Test_Case\HAMS_2017.mdb;Locale Identifier=1033;Jet OLEDB:Engine Type=5;Persist Security Info=True" />
    <add name="HAMSBase" providerName="Access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\30_Code\Test_Case\HAMS.mdb;Locale Identifier=1033;Jet OLEDB:Engine Type=5;Persist Security Info=True" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>